html, body{
    margin: 0% 0%;
}

/* ============================
        Navbar
============================ */
.topnav {
    position: relative;
    background-color: #36a3f8;
    overflow: hidden;
    margin-top: 0%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    font-family: Proxima Nova;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    color: white;
  }
  
  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
  }
  
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }

  .topnav-right a:first-child {
    margin-top: 12px;
    font-family: Proxima Nova;
    font-size: 25px;
  }


.login-button {
    background-color: white;
    color:  #3b5998;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
    
}
.login-button:hover:before{
    content: "Admin-";
    color:#008EE2;

}
.login-button:hover{
    color: #008EE2;;
}

/* 
===================================
        home1.css
=================================== */

.card {
    margin-top: 25%;
      border: 3px solid #36a3f8 !important;
      border-radius: 10px !important;

}

.card .card-body {
    padding: 50px 20px;

}

/* .card .card-body form.form-group {} */

.card .card-body form.form-group input[type="submit"] {
    border: 1px solid #2c83c7;
    background-color: #36a3f8;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 500;
}

.card .card-body form.form-group input[type="submit"]:hover {
    background-color: transparent;
    border: 1px solid #36a3f8;
    color: #36a3f8;
}

.card .card-body form.form-group > p {
    font-size: 24px;
    font-weight: 700;
}

.card .card-body form.form-group input::file-selector-button {
  background-image: linear-gradient(
    to right,
    #36a3f8,
    #225074,
    #319197 100%,
    #319197 200%
  );
  background-position-x: 0%;
  background-size: 200%;
  border: 0;
  border-radius: 8px;
  color: #fff;
  padding: 1rem 1.25rem;
  text-shadow: 0 1px 1px #333;
  transition: all 0.25s;
}
.card .card-body form.form-group input::file-selector-button:hover {
  background-position-x: 100%;
  transform: scale(1);
}

.form-group .f_input{
    padding-left: 28%;
    padding-bottom: 10px;
}

p{
  color: #36a3f8;
}

.email{
  margin-bottom: 20px;
}
.email input{
  border: 2px solid #36a3f8;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  width: 70%;
}
::placeholder {
  color: #36a3f8;
}






/* 
===================================
        footer
=================================== */

.footer-cont-sec {
  margin-top: 80px;
  background-color: #36a3f8;
}
.footer {
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   height: 50px;
   padding-top: 12px;
   background-color: #36a3f8;
 }

 .copyright-sec {
  width: 50%;
  float: left;
}

.privacy-sec {
  width: 50%;
  text-align: right;
  display: inline;
}

.footer a{
   
   color: white;
   text-decoration: none;
}