<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apigee Proxy creation</title>
    <link href="../static/css/form1.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <!-- Top navigation -->
<div class="topnav">

    <!-- Centered link -->
    <div class="main-head">
      <a href="/" class="active"><img src="../static/images/on ramp api logo.png" class="card-img-top" alt="API Proxies image" height="70px"></a>
    </div>
    <div class="topnav-right">
      <a href="/">Home</a>
      <a href="/admin/"><button class="login-button">Login</button></a>
    </div>
  
  </div>



  {% if not msg %}


      <div class="container">
        <h3 class="">Proxy details</h3>
        <form action="/modify_data/" method="post">

            <div class="mb-3">
              <label for="Email" class="form-label">Email Address</label>
              <input type="email" class="form-control" id="Email" value="{{ email }}">
            </div>
            <div class="mb-2">
              <label for="proxy" class="form-label">Proxy Title</label>
              <input type="text" name="proxyname" class="form-control" id="proxy" placeholder="proxy name" value="{{ title }}" required>
            </div>
            <div class="mb-3">
                <label for="basepath" class="form-label">Basepath</label>
                <input type="text" name="basepath" class="form-control" id="basepath" placeholder="/basepath"  value="{{ basepath }}" required >
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Description</label>
                <input type="text" name="description" class="form-control" id="desc"  placeholder="Proxy Description" value="{{ desc }}">
            </div>
            <div class="mb-3">
                <label for="targeturl" class="form-label">Target Url</label>
                <input type="text" name="targeturl" class="form-control" id="basepath"  placeholder="e.g., https://mocktarget.apigee.net" value="{{ url }}" required >
            </div>

            <h3 class="">OpenAPI operations</h3>            
            <div class="mb-3">
              <div class="container b_table">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Endpoint</th>
                        <th>Methods</th>
                        <th>Summary</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for key, value in flows.items() %}
                        <tr>
                          <td>{{ key }}</td>
                          <td>{{ value[0] }}</td>
                          <td>{{ value[1] }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
            </div>

            <h3 class="">Advanced Configuration</h3>
        
            <div class="form-group container ">
              <h5>ConsumerOfThe API</h5>
              <div class="row">
                  <div class="col-sm-2">
                      <label for="tps_allowed">TPS Allowed :</label>
                  </div>
                  <div class="col-sm-2">
                  
                      <input type="text" name="tps_allowed" class="form-control" id="tps_allowed" placeholder="TPS value">
                  </div>
      
                  <div class="col-sm-2">
                      <label for="quota_allowed">Quota Allowed :</label>
                  </div>
                  
                  <div class="col-sm-2">
                      
                      <input type="text" name="quota_allowed_count" class="form-control" id="quota_allowed" placeholder="Count">
                  </div>
                  <div class="col-sm-2">
                      <input type="text"  name="quota_allowed_interval" class="form-control" id="quota_allowed" placeholder="Interval">
                  </div>
                  <div class="col-sm-2">
                      <select name="timeunit" name="quota_allowed_timeunit" class="form-control">
                        <option>minute</option>
                        <option>hour</option>
                        <option>day</option>
                        <option>week</option>
                        <option>month</option>
                      </select>
                  </div>
              </div>
              <h5>Backend Of the API</h5>
              <div class="row">
                  <div class="col-sm-2">
                      <label for="max_tps">MAX TPS :</label>
                  </div>
                  <div class="col-sm-2">
                  
                      <input type="text" name="max_tps" class="form-control" id="max_tps" placeholder="Max TPS">
                  </div>
      
                  <div class="col-sm-2">
                      <label for="max_quota">MAX Quota :</label>
                  </div>
                  
                  <div class="col-sm-2">
                      
                      <input type="text"  name="max_quota_count" class="form-control" id="max_quota" placeholder="Count">
                  </div>
                  <div class="col-sm-2">
                      <input type="text" name="max_quota_interval" class="form-control" id="max_quota" placeholder="Interval">
                  </div>
                  <div class="col-sm-2">
                      <select name="max_timeunit" name="max_quota_timeunit" class="form-control" id="max_quota">
                        <option>minute</option>
                        <option>hour</option>
                        <option>day</option>
                        <option>week</option>
                        <option>month</option>
                      </select>
                  </div>
              </div>
              <h5>backend Security Options</h5>
              <div class="row">
                  <div class="col-sm-2">
                      <input type="checkbox" id="apikey_checkbox" onclick="toggleInput('apikey_input')">
                      <label for="apikey">API key :</label>
                  </div>
                  <div class="col-sm-4">
                      <input type="text" name="apikey" class="form-control" id="apikey_input" placeholder="API key" style="display:none;">
                  </div>   
              </div>
              
              <div class="row">
                  <div class="col-sm-2">
                      <input type="checkbox" id="basicauth_checkbox" onclick="toggleInput('basicauth_username_input', 'basicauth_password_input')">
                      <label for="basicauth">Basic Auth :</label>
                  </div>
                  <div class="col-sm-4">
                      <input type="text" name="username_ba" class="form-control" id="basicauth_username_input" placeholder="Username" style="display:none;">
                  </div>  
                  <div class="col-sm-4">
                      <input type="text" name="password_ba" class="form-control" id="basicauth_password_input" placeholder="Password" style="display:none;">
                  </div>  
              </div>
              
              <div class="row">
                  <div class="col-sm-2">
                      <input type="checkbox" id="oauth_checkbox" onclick="toggleInput('oauth_inputs')">
                      <label>OAuth :</label>
                  </div> 
              </div>
              
              <div class="row" id="oauth_inputs" style="display:none;">
                  <div class="col-sm-2">
                      <label for="Outhurl">OAuth URL:</label>
                  </div> 
                  <div class="col-sm-2">
                      <input type="text" name="oauthurl" class="form-control" id="oauthurl" placeholder="URL">
                  </div>
                  <div class="col-sm-2">
                      <label for="c_id">Client_ID:</label>
                  </div> 
                  <div class="col-sm-2">
                      <input type="text" name="clientid" class="form-control" id="c_id" placeholder="client_id">
                  </div> 
                  <div class="col-sm-2">
                      <label for="c_secret">Client_Secret:</label>
                  </div> 
                  <div class="col-sm-2">
                      <input type="text"  name="clientsecret" class="form-control" id="c_secret" placeholder="client_secret">
                  </div>
              </div>
                
                <div class="row">
                  <div class="col-sm-2">
                    <label>MTLS Cert upload:</label>
                  </div>
                  <div class="col-sm-2">
                    <input type="file" id="myFile" name="filename">
                  </div>
                </div>
              </div>
              <div class="mb-3 submit">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
    </div>
    {% endif %}
    
    {% if msg %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="alert alert-info" role="alert">
        {{ msg }}
      </div>
    </div>
  </div>
</div>
{% endif %}


<div class="container footer-cont-sec">
  <div class="footer">
  <div class="copyright-sec">
    <a href="https://www.neosalpha.com/" target="_blank">Copyright 2023 © NeosAlpha Technologies. All Rights Reserved.</a>
  </div>
  <div class="privacy-sec">
    <a rel="privacy-policy" href="https://neosalpha.com/privacy-policy/" target="_blank" >Privacy Policy</a> | 
    <a href="https://neosalpha.com/terms-of-use/" target="_blank">Terms of Use</a>
  </div>
</div>
</div>
   



    <script>
      function toggleInput() {
for (var i = 0; i < arguments.length; i++) {
  var x = document.getElementById(arguments[i]);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
}
</script>


      
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>